.services {
  overflow: hidden;
  &__group {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    @media (max-width: 900px) {
      grid-template-columns: repeat((2, 1fr));
    }
    @media (max-width: 600px) {
      grid-template-columns: 100%;
    }
  }
}
