.hide {
  display: none;
}

.cookie-box {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  left: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: translateX(-50%) translateY(100%);
  padding: 2rem;
  width: 100%;
  max-width: 500px;
  text-align: center;
  font-size: 1.6rem;
  background-color: #3a3a3a;
  color: white;
  opacity: 0;
  animation: show-cookies 1s 1s forwards;
  z-index: 5;
  @media (max-width: 768px) {
    font-size: 1.4rem;
  }
  @media (max-width: 450px) {
    flex-direction: column;
  }

  &__btn {
    padding: 0.5em 1em;
    font-size: 1.6rem;
    @media (max-width: 768px) {
      font-size: 1.4rem;
    }
    @media (max-width: 450px) {
      margin-top: 1em;
    }
  }
}

.cookie-btn:hover {
  background-color: rgb(0, 0, 146);
}

@keyframes show-cookies {
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}
